@page
@model ContactModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Code Brothers Highway<br />
    Vale Do Pinhão, PR 80230-040<br />
    <abbr title="Phone">Telefone:</abbr>
    (41) 2555-5100
</address>

<address>
    <strong>Desenvolvedor:</strong> <a href="mailto:klechowiczeduardo@gmail.com">klechowiczeduardo@gmail.com</a><br />
    <strong>Design:</strong> <a href="mailto:mmunizdaluz@gmail.com">mmunizdaluz@gmail.com</a><br />
    <strong>Suporte:</strong> <a href="mailto:alain_kardoso@hotmail.com">alain_kardoso@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
